In [6]:
a = 1
b = 'Shahane'
print('a =', a)
print('b =', b)

a = 1
b = Shahane

In [14]:
a,b = (1, 'Shahane')
print ('a =', a)
print('b =', b)

a = 1
b = Shahane

In [12]:
course = 'Intro to Python'
print(course)

Intro to Python

In [17]:
student = 'Aram Zoryan'
print(student)

Aram Zoryan

In [18]:
nickname = 'Superman'
print(nickname)

Superman

In [19]:
Grade = 50
print(Grade)

50

In [21]:
python_expert = True
print(python_expert)

True

In [23]:
print('course: ', course)

course:  Intro to Python

In [24]:
print('student: ', student)

student:  Aram Zoryan

In [25]:
print('nickname: ', nickname)

nickname:  Superman

In [26]:
print('grade:', Grade)

grade: 50

In [27]:
print('python_expert:', python_expert)

python_expert: True

In [11]:
import math

AB = 3
AC = 4
BC = math.sqrt(AB**2 + AC**2)
print('The hypotenuse of the triangle ABC =', BC)

The hypotenuse of the triangle ABC = 5.0

In [32]:
import time
import datetime
import calendar

localtime = time.localtime()
print('current time:', localtime)

current time: time.struct_time(tm_year=2018, tm_mon=9, tm_mday=18, tm_hour=23, tm_min=21, tm_sec=43, tm_wday=1, tm_yday=261, tm_isdst=0)

In [31]:
localtime=time.asctime()
print('current time: ', localtime)

current time:  Tue Sep 18 23:20:34 2018

In [33]:
tday = datetime.date.today()
print('Year: ', tday.year)
print('Month: ', tday.month)
print('Day: ', tday.day)
print('Day of the week (1st version): ', tday.isoweekday())
print('Day of the week (2nd version): ', tday.weekday())

Year:  2018
Month:  9
Day:  18
Day of the week (1st version):  2
Day of the week (2nd version):  1

In [38]:
tday = datetime.date.today()
print('Date today: ', tday)
tdelta = datetime.timedelta(days = 5)
print('Date today - 5 days: ', tday - tdelta)

Date today:  2018-09-18
Date today - 5 days:  2018-09-13

In [59]:
tday = datetime.datetime.today()
tdeltasec = datetime.timedelta(seconds = 5)
print(tday)
print('Date today + 5 sec: ', tday - tdeltasec)

2018-09-19 00:54:28.902659
Date today + 5 sec:  2018-09-19 00:54:23.902659

In [60]:
tday = datetime.date.today()
date_last_monday = tday - datetime.timedelta(days = tday.weekday())
print(date_last_monday)
print(tday)

2018-09-17
2018-09-19