In [52]:
a = [1, 4, 5, 7, 8, -2, 0, -1]
print(a[3])
print(a[5])

7
-2

In [53]:
a_sorted = sorted(a)
print(a_sorted)
print(a)

[-2, -1, 0, 1, 4, 5, 7, 8]
[1, 4, 5, 7, 8, -2, 0, -1]

In [54]:
print('a_sorted:', a_sorted[1:4])
print('a_sorted:', a_sorted[2:7])

a_sorted: [-1, 0, 1]
a_sorted: [0, 1, 4, 5, 7]

In [55]:
a_sorted.index(5)

5

In [56]:
print(a_sorted)
del a_sorted[2:4]
print(a_sorted)

[-2, -1, 0, 1, 4, 5, 7, 8]
[-2, -1, 4, 5, 7, 8]

In [57]:
a_sorted

[-2, -1, 4, 5, 7, 8]

In [58]:
b = ["grapes","Potatoes", "tomatoes", "Orange", "Lemon", "Broccoli", "Carrot", "Sausages"]
new_b = sorted(b)
print(new_b)
print(b)

['Broccoli', 'Carrot', 'Lemon', 'Orange', 'Potatoes', 'Sausages', 'grapes', 'tomatoes']
['grapes', 'Potatoes', 'tomatoes', 'Orange', 'Lemon', 'Broccoli', 'Carrot', 'Sausages']

In [59]:
c = a[1:3] + b[4:6]
print(c)

[4, 5, 'Lemon', 'Broccoli']

In [1]:
a1 = ['Cookies', 'Chocolate', 8, True, '-3', '-5', 'Chocolate', 8, False, 8]

In [8]:
b1 = [8, True, 10, 14, 'Chocolate', 'Milk', 'Jelly', True, False, True]

In [6]:
set_a = set(a1)
print('set_a:' ,set_a)

set_a: {False, True, 'Chocolate', 8, '-5', 'Cookies', '-3'}

In [9]:
set_b = set(b1)
print('set_b:', set_b)

set_b: {False, True, 'Chocolate', 8, 10, 14, 'Jelly', 'Milk'}

In [26]:
union_ab = set_a.union(set_b)
print('union_ab: ',union_ab)

union_ab:  {False, True, 'Chocolate', 8, 10, '-5', 14, 'Jelly', 'Cookies', '-3', 'Milk'}

In [27]:
intersection_ab = set_a.intersection(set_b)
print('intersection_ab: ' ,intersection_ab)

intersection_ab:  {False, True, 'Chocolate', 8}

In [31]:
union_ab.add('Kit-kat')
union_ab.add('Oreo')
print(union_ab)

{False, True, 'Kit-kat', 'Chocolate', 8, 10, '-5', 14, 'Oreo', 'Jelly', 'Cookies', '-3', 'Milk'}

In [33]:
new_set = union_ab | intersection_ab
print('new_set: ', new_set)

new_set:  {False, True, 'Kit-kat', 'Chocolate', 8, 10, '-5', 14, 'Oreo', 'Jelly', 'Cookies', '-3', 'Milk'}

In [34]:
'Chocolate' in new_set

True

In [35]:
new_set.remove('Oreo')
print(new_set)

{False, True, 'Kit-kat', 'Chocolate', 8, 10, '-5', 14, 'Jelly', 'Cookies', '-3', 'Milk'}

In [54]:
t1 = (1, True, "a", -2, "Anna")
l1 = list(t1)
print(l1)
l1.pop(1)
print(l1)
t1 =tuple(l1)
print(t1)

[1, True, 'a', -2, 'Anna']
[1, 'a', -2, 'Anna']
(1, 'a', -2, 'Anna')

In [59]:
t2 = (1, 2, 3, 4, 5)
t3 = t1[0:2] + t2[0:3]
print(t3)

(1, 'a', 1, 2, 3)

In [61]:
print(t3[2])

1

In [62]:
t4 = [(1,3,5), (8,9), ("Anna", "Bob",
"Alice")]

In [65]:
print(t4[0][1])

3